@media screen and (max-width: 600px) {
    .searchForm {
      display: flex;
      width: 100%;
    }
    .searchFormSearchinput {
      flex: 1;
      width: undefined;
    }
    .searchFormSubmitinputText {
      display: none;
    }
    .searchFormSubmitinputIcon {
      display: block;
    }
  }
  @media screen and (min-width: 601px) {
    .searchFormSubmitinputText {
      display: block;
    }
    .searchFormSubmitinputIcon {
      display: none !important;
    }
  }

   
  @media screen and (min-width: 601px) {
    .header {
      grid-template-columns: auto 1fr auto auto;
      grid-template-areas: "logo . navbar button";
    }
    .headerNavLink[data-active=true] {
      border-top: 3px solid #0065FC;
    }
    .headerNavLink:hover {
      border-top: 3px solid #0065FC;
    }
  }
  @media screen and (max-width: 600px) {
    .header {
      grid-template-columns: auto 1fr auto;
      grid-template-areas: "logo . button" "navbar navbar navbar";
    }
    .headerimg {
      order: 0;
    }
    .headerSignup {
      order: 1;
    }
    .headerNav {
      order: 2;
    }
    .headerNavLink {
      border-top: none;
      border-bottom: 3px solid #F2F2F2;
      width: 50%;
    }
    .headerNavLink[data-active=true] {
      border-bottom-color: #0065FC;
    }
    .headerNavLink:hover {
      border-bottom-color: #0065FC;
    }
  }