@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

body {
  font-family: Raleway, sans-serif;
  max-width: 1024px;
  margin: auto;
}
a {
  text-decoration: none;
  color: unset;
}

/*HEBERGEMENT*/
/*problème pour mettre les deux blocs côteà côte*/
#hebergement {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-bottom: 56px;
}

.titre_section {
  margin: 0px;
  font-size: large;
  margin-bottom: 21px;
}

#hebergements_a_marseille {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
  border-radius: 20px;
  padding:0mm;
  max-width: 805px;
}

.container_item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  margin-bottom: 60px;
  
}

.box_carte {
  border: 3px solid white;
  border-radius: 20px;
  padding: 5px 5px 10px 5px;
  background-color: white;
  max-width: 236px;
  margin-bottom: 28px;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
}

.hebergement_image {
  padding-left: 5px;
  padding-right: 5px;
}

.photo_hebergement {
  object-fit: cover;
  width: 236px;
  height: 112px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.hebergement_contenu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 16px;
}

.titre_contenu {
  padding-top: 0px;
  padding-bottom: 0px;
  font-size: 12px;
}

a:active {
  background-color: #ffcc66;
}

.prix_contenu {
  padding-bottom: 11px;
  font-size:small
}

.hebergement_notation {
  padding-bottom: 11px;
  color: blue;
}

.hebergement_contenu h3,
.hebergement_populaire_contenu h3 {
  font-weight: bold;
  font-style: normal;
  padding: 0mm;
  margin: 0;
}


.hebergement_montrer_plus {
  font-weight: bold;
}

.fas.fa-star.grey-star {
  color: grey;
}

/*Les plus populaires*/

.titre_popularite {
  display: flex;
  flex-direction: row;
}


.fa-chart-line {
  color: black;
}

#container_hebergements_populaires {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  padding: 45px 38px 31px 45px;
  max-width: 345px;
}

.hebergement_les_plus_populaires {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.box_populaire_carte {
  border: 3px solid white;
  border-radius: 20px;
  display: flex;
  background-color: white;
  padding: 6px 58px 6px 6px;
  max-width: 284px;
  max-height: 135px;
  margin-bottom: 29px;
}

.photo_populaire {
  width: 132px;
  height: 132px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.hebergement_populaire_contenu {
  padding: 7px 0px 7px 20px;
  display: flex;
  flex-direction: column;
}

.titre_populaire_contenu {
  padding-bottom: 14px;
}

.prix_populaire_contenu {
  padding-bottom: 30px;
}

/*ACIVITES*/
#activites {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 50px;
  padding-bottom: 50px;
  width: 50%;
  

}
.activite_grand {
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  box-sizing: content-box;
  padding: 0;
  margin: 20px;
  height: 370px;
  width: 200PX;
  display: flex;
  flex-direction: column;
  flex-basis: 25%;
}
.image_grand {
  border-radius: 20px 20px 0 0;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-size}
.activite2et3,
.activite5et6{ 
  height: 300 px}
.activite_moyen {
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  box-sizing: content-box;
  padding: 0;
  margin: 20px;
  width: 200px;
  display: flex;
  flex-direction: column;
  flex-basis: 25%;
}
.image_moyen {
  border-radius: 20px 20px 0 0;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 200px;
  height: 150px;
}

.activite_petit {
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  box-sizing: content-box;
  padding: 0px;
  padding: 0;
  margin: 20px;
  width: 200px;
  display: flex;
  flex-direction: column;
  flex-basis: 25%;
  
}
.image_petit {
  border-radius: 20px 20px 0 0;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 200px;
  height: 80px;
  
}
.titre_activite{
  font-size: x-small;
  padding: 9px;
  font-weight:bolder;
}

/* le style de mon footer*/
footer ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
footer li {
  margin-bottom: 8px;
}
footer h2 {
  margin: 0;
  font-weight: bold;
  font-size: 12px;
}
footer a:hover {
  text-decoration: underline;
}
footer {
  background-color: #f2f2f2;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 11px;
  padding: 20px;
}
.bloc-footer {
  flex: 1;
}
