@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

body {
  font-family: Raleway, sans-serif;
  max-width: 1024px;
  margin: auto;
}
a {
  text-decoration: none;
  color: unset;
}

/*HEBERGEMENT*/
/*HEBERGEMENT*/
#Hébergements-marseille{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 500px;
  max-width: 1200px;
  margin-bottom: 50px;
  background-color: blue;
  border-radius: 20px;
}
#Hébergements{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 500px;
  max-width: 600px;
  margin-bottom: 50px;
  background-color: blue;
  border-radius: 20px;
}
.Hébergements-bloc {
  height: 50%;
  width: 200px;
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  flex-direction: column;
  border-radius: 20px;
  border: solid 2px white;
  margin: 10px;
  background-color: brown;
}
.hébergements-image{
height: 100%;
background-position: center;
background-size: cover;
border-radius: 20px 20px 0 0;}
.hébergementsPP{
  height: 50%;
  width: 200px;
}

#Hébergements-1-image{
  background-image: url('assets/images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg');
}
#Hébergements-2-image{
  background-image: url('assets/images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg');
}
#Hébergements-3-image{
  background-image: url('assets/images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg');
}
#Hébergements-4-image{
  background-image: url('assets/images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg');
}
#Hébergements-5-image{
  background-image: url('assets/images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg');
}
#Hébergements-6-image{
  background-image: url('assets/images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg');
}
#Hébergements-7-image{
  background-image: url('assets/images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg');
}
#Hébergements-8-image{
  background-image: url('assets/images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg');
}
}
#Hébergements-9-image{
  background-image: url('assets/images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg');
}

/*ACTIVITES*/

/* Le conteneur de mes activités, sous le H2 */
#activites {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 350px;
  margin-bottom: 50px;
}

/* le conteneur d'une ou plusieurs activités */
.activite-bloc {
  height: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
}

/* Une activté (carte) */
.activite {
  height: 100%;
  border-radius: 20px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  box-sizing: content-box;
  padding: 0;
  display: flex;
  flex-direction: column;
}

/* règle disant : toutes les activites-bloc, sauf la première, ont une marge gauche */
#activites .activite-bloc:not(:first-child) {
  margin-left: 5px;
}

/* règle disant : toutes les activites-bloc, sauf la dernière, ont une marge droite */
#activites .activite-bloc:not(:last-child) {
  margin-right: 5px;
}

/* le ration d'une carte activité moyenne, par rapport à son parent en colonne */
.activite-moyen {
  flex: 1.5;
}

/* le ration d'une carte activité petite, par rapport à son parent en colonne */
.activite-petit {
  flex: 1;
}

/* règle disant : toutes les activites, sauf la dernière, dans blocs moyen-petits ont une marge en bas */
.activite-moyen-petit .activite:not(:last-child) {
  margin-bottom: 10px;
}

/* les images d emes activités */
.activite-image {
  height: 100%;
  background-position: center;
  background-size: cover;
  border-radius: 20px 20px 0 0;
}

/* les titres de mes activités */
.titre_activite{
  padding: 15px;
  font-weight:bolder;
}

/* les sources des images pour la version PC */
#activite-1-img {
  background-image: url('assets/images/activites/3_medium/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg');
}

#activite-2-img {
  background-image: url('assets/images/activites/3_medium/paul-hermann-QFTrLdQIRhI-unsplash.jpg');
}

#activite-3-img {
  background-image: url('assets/images/activites/3_medium/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg');
}

#activite-4-img {
  background-image: url('assets/images/activites/3_medium/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg');
}

#activite-5-img {
  background-image: url('assets/images/activites/3_medium/florian-wehde-xW9e8gdotxI-unsplash.jpg');
}

#activite-6-img {
  background-image: url('assets/images/activites/3_medium/lena-paulin-wH2-EJoDcV0-unsplash.jpg');
}

/* FOOTER */
footer ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

footer li {
  margin-bottom: 8px;
}

footer h2 {
  margin: 0;
  font-weight: bold;
  font-size: 12px;
}

footer a:hover {
  text-decoration: underline;
}

footer {
  background-color: #f2f2f2;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 11px;
  padding: 20px;
}

.bloc-footer {
  flex: 1;
}













/* #hebergement {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-bottom: 56px;
}

.titre_section {
  margin: 0px;
  font-size: large;
  margin-bottom: 21px;
}

#hebergements_a_marseille {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
  border-radius: 20px;
  padding:0mm;
  max-width: 805px;
}

.container_item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  margin-bottom: 60px;
  
}

.box_carte {
  border: 3px solid white;
  border-radius: 20px;
  padding: 5px 5px 10px 5px;
  background-color: white;
  max-width: 236px;
  margin-bottom: 28px;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
}

.hebergement_image {
  padding-left: 5px;
  padding-right: 5px;
}

.photo_hebergement {
  object-fit: cover;
  width: 236px;
  height: 112px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.hebergement_contenu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 16px;
}

.titre_contenu {
  padding-top: 0px;
  padding-bottom: 0px;
  font-size: 12px;
}

a:active {
  background-color: #ffcc66;
}

.prix_contenu {
  padding-bottom: 11px;
  font-size:small
}

.hebergement_notation {
  padding-bottom: 11px;
  color: blue;
}

.hebergement_contenu h3,
.hebergement_populaire_contenu h3 {
  font-weight: bold;
  font-style: normal;
  padding: 0mm;
  margin: 0;
}


.hebergement_montrer_plus {
  font-weight: bold;
}

.fas.fa-star.grey-star {
  color: grey;
}


.titre_popularite {
  display: flex;
  flex-direction: row;
}


.fa-chart-line {
  color: black;
}

#container_hebergements_populaires {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  padding: 45px 38px 31px 45px;
  max-width: 345px;
}

.hebergement_les_plus_populaires {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.box_populaire_carte {
  border: 3px solid white;
  border-radius: 20px;
  display: flex;
  background-color: white;
  padding: 6px 58px 6px 6px;
  max-width: 284px;
  max-height: 135px;
  margin-bottom: 29px;
}

.photo_populaire {
  width: 132px;
  height: 132px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.hebergement_populaire_contenu {
  padding: 7px 0px 7px 20px;
  display: flex;
  flex-direction: column;
}

.titre_populaire_contenu {
  padding-bottom: 14px;
}

.prix_populaire_contenu {
  padding-bottom: 30px;
}
*/