@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
body {
  font-family: Raleway, sans-serif;
  max-width: 1024px;
  margin: auto
}

a {
  text-decoration: none;
  color: unset;
  font-style: normal;
}

a:hover {
  text-decoration: #0065fc;
  color: #0065fc;
}

p {
  margin: 0;
}

.fas {
  color: #0065fc;
}

/* Header*/

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 80px;
}

#logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo img {
  height: 45px;
}

header nav {
  min-width: 33%;
}

header nav ul {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  list-style: none;
  flex-direction: row;
}

header li {
  display: flex;
  flex: 1;
  justify-content: center;
  padding: 0px 25px;
  align-items: center;
}

#heberg-nav-link {
  position: relative;
}

#heberg-nav-link-border {
  position: absolute;
  top: 0;
  width: 100%;
  height: 3px;
  background-color: #0065fc;
}

header nav a {
  font-size: 0.9em;
  flex: 1;
}

.hebergements-activites a:hover {
  border-top: 3px solid #0065fc;
}

.headersignup {
  color: #0065fc;
  font-weight: bold;
  margin-right: 10px;
}

/*Titre principal*/

h1 {
  font-size: large;
  margin-top: 10px;
}
/*Titre principal*/

/*header2*/
.header_2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.titre_principal {
  display: flex;
  flex-direction: column;
}

/*Barre de recherche*/
.gps-logo {
  position: relative;
  height: 40px;
  background-color: #f2f2f2;
  width: 54px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.fa-map-marker-alt {
  position: absolute;
  color: black;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size:3px;

}
#search-section {
  display: flex;
  height: 40px;
  margin-top: 15px;
}
.type-search {
  border: 1px solid #f2f2f2;
}
.search-bar {
  display: flex;
  justify-content: flex-start;
}
.rechercher {
  background-color: #0065fc;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 30%;
  height: 40px;
  border: none;
  color: white;
  outline: none;
  font-weight: bold;
}
.rechercher_loupe {
  display: none;
}
/*Filtres*/

#filtres-section {
  display: flex;
  align-items: center;
  justify-content: start;
  margin: 32px 0px 41px 0px;
  height: auto;
  width: 100%;
}
.filtre-bouton {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  margin-left: 25px;
  border-radius: 50px;
  height: 40px;
  border: 2px solid #f2f2f2;
  padding-right: 8px;
}


.filtre {
  display: flex;
  flex-wrap: wrap;
}

.filtre span {
  font-weight: bolder;
  font-size:1em;
}

#titre_filtres {
  font-weight: bold;
}

.filtre .fas {
  color: #0065fc;
  font-size: 12px;
  margin-right: 10px;
  height: 40px;
  width: 40px;
  background-color: #deebff;
  border-radius: 50%;
  align-items: center;
  display: flex;
  justify-content: center;
}



.fas.fa-info {
  height: 2rem;
  width: 2rem;
  min-height: 2rem;
  min-width: 2rem;
  border: solid 1px #d9d9d9;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
}
.nombre_logements {
  font-size: small;
  font-style: italic;
  font-weight: normal;
  margin: 0px 0px 35px 17px;
  display: flex;
  align-items: center;
}
.com logo {
  font-style: italic;
}

.filtre-bouton:hover {
  text-decoration: underline;
  color: blue
}

/*HEBERGEMENT*/
#hebergements-marseille {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 50px;
  height: 550px;
  border-radius: 20px;
}

#hebergements {
  display: flex;
  flex-direction: column;
  height: 100%;

  background-color: #f2f2f2;
  border-radius: 20px;
  padding: 20px;
  flex: 5
}

.etoiles {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  margin-bottom: 5px;
}

#hebergement_les_plus_populaires {
  background-color: #f2f2f2;
  margin-left: 20px;
  border-radius: 20px;
  height: 100%;
  padding: 30px;
  flex: 2
}

.fas.fa-chart-line {
  color: black;
}

.hebergements {
  display: flex;
  flex-direction: column;
}
.box {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 1;
}
.box1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.hebergements-bloc {
  height: 180px;
  width: 180px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  border-radius: 20px;
  padding: 3px;
  margin: 10px;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  position: relative;
}

.hebergements-image {
  height: 100%;
  width: 180px;
  background-position: center;
  background-size: cover;
  border-radius: 20px 20px 0 0;
  margin-bottom: 10px;
}
.hebergementsPP {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 20px;
  background-color: white;
  height: 130px;
  width: 100%;
  padding: 3px;
  margin-bottom: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.hebergementspp-image {
  height: 100%;
  width: 35%;
  background-position: center;
  background-size: cover;
  border-radius: 20px 0 0 20px;
}
.prix {
  font-size: smaller;
  padding-bottom: 10px;
  margin-left: 10px;
}
.prixpp {
  font-size: smaller;
  padding-bottom: 10px;
  margin-bottom: auto;
}

.hebergementsPP-bloc {
  border-radius: 20px;
  width: 300px;
  height: 50px;
}
.titre_section {
  font-size: large;
  font-weight: 900;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.detailspp {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  margin-left: 5px;
}
.notationpp{
  margin-bottom: 5px;
}
.titre_hebergements {
  font-size: small;
  font-weight: bolder;
  padding-bottom: 10px;
  margin-left: 5px;
}

#hebergements-1-img {
  background-image: url("assets/images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg");
}
#hebergements-2-img {
  background-image: url("assets/images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg");
}
#hebergements-3-img {
  background-image: url("assets/images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg");
}
#hebergements-4-img {
  background-image: url("assets/images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
}
#hebergements-5-img {
  background-image: url("assets/images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");
}
#hebergements-6-img {
  background-image: url("assets/images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg");
}
#hebergementspp-7-img {
  background-image: url("assets/images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg");
}
#hebergementspp-8-img {
  background-image: url("assets/images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg");
}
#hebergementspp-9-img {
  background-image: url("assets/images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg");
}

.fas.fa-star {
  color: #0065fc;
}
.fas.fa-star.grey-star {
  color: rgb(235, 232, 232);
}

/*ACTIVITES*/

/* Le conteneur de mes activités, sous le H2 */
#activites {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 350px;
  margin-bottom: 50px;
}

/* le conteneur d'une ou plusieurs activités */
.activite-bloc {
  height: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
}

/* Une activté (carte) */
.activite {
  height: 100%;
  border-radius: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-sizing: content-box;
  padding: 0;
  display: flex;
  flex-direction: column;
}

/* règle disant : toutes les activites-bloc, sauf la première, ont une marge gauche */
#activites .activite-bloc:not(:first-child) {
  margin-left: 5px;
}

/* règle disant : toutes les activites-bloc, sauf la dernière, ont une marge droite */
#activites .activite-bloc:not(:last-child) {
  margin-right: 5px;
}

/* le ration d'une carte activité moyenne, par rapport à son parent en colonne */
.activite-moyen {
  flex: 1.5;
}

/* le ration d'une carte activité petite, par rapport à son parent en colonne */
.activite-petit {
  flex: 1;
}

/* règle disant : toutes les activites, sauf la dernière, dans blocs moyen-petits ont une marge en bas */
.activite-moyen-petit .activite:not(:last-child) {
  margin-bottom: 10px;
}

/* les images de mes activités */
.activite-image {
  height: 100%;
  background-position: center;
  background-size: cover;
  border-radius: 20px 20px 0 0;
}

/* les titres de mes activités */
.titre_activite {
  padding: 15px;
  font-weight: bolder;
}

/* les sources des images pour la version PC */
#activite-1-img {
  background-image: url("assets/images/activites/3_medium/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
}

#activite-2-img {
  background-image: url("assets/images/activites/3_medium/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
}

#activite-3-img {
  background-image: url("assets/images/activites/3_medium/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
}

#activite-4-img {
  background-image: url("assets/images/activites/3_medium/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
}

#activite-5-img {
  background-image: url("assets/images/activites/3_medium/florian-wehde-xW9e8gdotxI-unsplash.jpg");
}

#activite-6-img {
  background-image: url("assets/images/activites/3_medium/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
}

/* FOOTER */
footer ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

footer li {
  margin-bottom: 8px;
}

footer h2 {
  margin: 0;
  font-weight: bold;
  font-size: 12px;
}

footer a:hover {
  text-decoration: underline;
}

footer {
  background-color: #f2f2f2;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 11px;
  padding: 20px;
}

.bloc-footer {
  flex: 1;
}
